[submodule "content/core/background-knowledge"]
	path = content/core/background-knowledge
	url = https://github.com/mindulle/background-knowledge.git
[submodule "content/core/workflow"]
	path = content/core/workflow
	url = https://github.com/mindulle/workflow.git
[submodule "content/core/audit"]
	path = content/core/audit
	url = https://github.com/mindulle/audit.git
