[submodule "content/core/audit"]
	path = content/core/audit
	url = https://github.com/mindulle/audit.git
[submodule "content/core/background"]
	path = content/core/background
	url = https://github.com/mindulle/background.git
[submodule "content/core/preferences"]
	path = content/core/preferences
	url = https://github.com/mindulle/preferences.git
