// Add your own CSS here!
:root {
  --light: #fdfcf5;
  --dark: #1b1c18;
  --secondary: #57624a;
  --tertiary: #bbece8;
  --visited: #ffdad6;
  --primary: #c1f18e;
  --gray: #44483d;
  --lightgray: #e1e4d5;
  --outlinegray: #75796c;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #ba1a1a;
}

[saved-theme="dark"] {
  --light: #1b1c18 !important;
  --dark: #e3e3db !important;
  --secondary: #bfcbad !important;
  --visited: #93000a !important;
  --tertiary: #1f4e4c !important;
  --primary: #2c5000 !important;
  --gray: #c4c8ba !important;
  --lightgray: #44483d !important;
  --outlinegray: #8e9285 !important;
  --highlighted: #ffb4ab;
}
